.product-container {
	
}

.product-container-img {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.product-container-img-primary {
	width: 100%;
	height: 600px;
	display: flex;                /* attiva Flexbox */
	align-items: center;         /* centra verticalmente */
	justify-content: center;     /* centra orizzontalmente */
	background-color: #f0f8ff;
}

.product-container-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.product-container-img-secondary-container {
	width: 100%;
	height: 5.5rem;
	display: flex;
	align-items: center;         /* centra verticalmente */
	gap: 5px;
	flex-shrink: 0;         /* non ridurre la card */
	box-sizing: border-box;
	background-color: grey;
}
.product-container-img-secondary-container-placeholder {
	width: 5rem;
	height: 5rem;
	background-color: lightgrey;
}