<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_card.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenPlaza | Il Marketplace che parla crypto</title>
</head>
<body>

    <div class="container">

        {% include "core/partials/topbar.html" %}
    
        <div style="text-align: center;padding-top: 2rem;border-bottom: 2px solid #000">
            <h2 style="font-size: 2.5rem;">Compra e vendi in libertà con le criptovalute.</h2>
            <img style="width: 100px; height: 100px;" src="{% static 'images/bitcoin_logo.webp' %}" alt="bitcoin_logo">
            <img style="width: 100px; height: 100px;" src="{% static 'images/tether_logo.png' %}" alt="tether_logo">
        </div>

        <h2>Articoli disponibili</h2>

        <ul class="product-horizontal-list">

            {% for product in products %}
            <li class="product-card-container">
                <a href="{% url 'product_detail' product.id %}">

                    <img src="{{ product.images.all.0.image.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price }} €</p>
                </a>
            </li>
            {% endfor %}

        </ul>
    </div>
</body>
</html>
