<!DOCTYPE html>
<head>
	{% load static  %}
	<link rel="stylesheet" href="{% static 'css/globals.css' %}">
	<link rel="stylesheet" href="{% static 'css/partials/topbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/product_detail/class.css' %}">
	<link rel="stylesheet" href="{% static 'css/product_detail/product_detail.css' %}"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ product.name }} | OpenPlaza</title>
</head>


<body>
	<!-- non mettere niente qui -->

	{% include "core/partials/topbar.html" %}

	<div class="container">
		
		<div class="product-container">
			
			<div class="product-container-img">
				<div class="product-container-img-primary">
					<img src="{{ product.images.all.0.image.url }}">
				</div>

				<ul class="product-container-img-secondary-container">
					{% for img in product.images.all %}

					<li class="product-container-img-secondary-container-placeholder">
						<img src="{{ img.image.url }}" alt="{{ product.name }}">
					</li>

					{% endfor %}
				</ul>
			</div>

			<h2>{{ product.name }}</h2>
			<p>Prezzo: {{ product.price }} €</p>

			<div style="display: flex; align-items: center;gap: 0.3rem;">
				<p>Venditore:</p><a href="{% url 'login' %}">{{ product.seller.username }}</a>
			</div>

			<p>{{ product.description }}</p>

		</div>
		<a href="{% url 'homepage' %}">Homepage</a>

	</div>
	<!-- non mettere niente qui -->
</body>

</html>
