<!DOCTYPE html>

	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/auth_template.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>OpenPlaza | Registrati</title>

		<script>

			function showPasswordFields() {
				const username = document.getElementById("username").value;
				document.getElementById("username-prefilled").innerText = username;

				document.getElementById("username-field").style.display = 'none';
				document.getElementById('password-fields').style.display = 'block';
				document.getElementById('error_message').style.display = 'none';
				document.getElementById("username-available").style.display = 'none';
			}

			function editUsernameField() {
				document.getElementById("username-available").style.display = 'block';
				document.getElementById("username-field").style.display = 'block';
				document.getElementById("password-fields").style.display = 'none';
			}

		</script>

	</head>

	<body>

		<div class="container">

			<h1>Registrati ora</h1><br>

			{% if error %}
				<p style="color: red;">{{ error }}</p>
			{% endif %}

			<!-- devo ancora scegliere come mostrare gli errori, al momento lo lasciamo così -->
			<p id="username-available"></p>

			<form method="post">
				{% csrf_token %}

				<div id="username-field">

					<input type="text" id="username" name="username" placeholder="Scegli un username" required><br><br>

					<li id="username-checklist1" style="font-style: italic;">L'username deve contenere dai 5 ai 16 caratteri</li>
					<li id="username-checklist3" style="font-style: italic;">Solo lettere, numeri, trattini e underscore</li>
					<li id="username-checklist2" style="font-style: italic;">Non può contenere spazi</li><br>

					<button id="button-verified" type="button" onclick="showPasswordFields()" disabled>Continua</button>
				</div>

				<div id="password-fields" style="display: none;">

					<div style="display: flex;justify-content: center;align-items: center;">
						<h3 id="username-prefilled"></h3><a href="#" onclick="editUsernameField(); return false;" style="font-style: italic;padding-left: 0.5rem;">modifica</a>
					</div>

					<input type="text" id="password1" name="password1" placeholder="Nuova password" required><br><br>
					<input type="text" id="password2" name="password2" placeholder="Ripeti password" required><br><br>

					<button type="submit">Crea Account</button>
				</div>

			</form>

			<br><a href="{% url 'homepage' %}">Homepage</a><br>
			<p>© 2025 OpenPlaza. Tutti i diritti riservati.</p>
		</div>

	<script>
		document.addEventListener('DOMContentLoaded', function() {

				const regex = /^[a-zA-Z0-9_-]+$/;

				const usernameInput = document.getElementById("username");
				const checklist1 = document.getElementById("username-checklist1");
				const checklist2 = document.getElementById("username-checklist2");
				const checklist3 = document.getElementById("username-checklist3");
				const checklist4 = document.getElementById("username-available");
				const continueBtn = document.getElementById("button-verified");

				let timeout = null;

				usernameInput.addEventListener("input", function() {

					const value = usernameInput.value;

					if (value.length >= 5 && value.length <= 16) {
						checklist1.classList.add("valid");
						checklist1.classList.remove("invalid");
					} else {
						checklist1.classList.add("invalid");
						checklist1.classList.remove("valid");
					}

					if (!value.includes(" ") && value.length != 0) {
						checklist2.classList.add("valid");
						checklist2.classList.remove("invalid");
					} else {
						checklist2.classList.add("invalid");
						checklist2.classList.remove("valid");
					}

					if (regex.test(value)) {
						checklist3.classList.add("valid");
						checklist3.classList.remove("invalid");
					} else {
						checklist3.classList.add("invalid");
						checklist3.classList.remove("valid");
					}


					// verifichiamo che username sia disponibile
					clearTimeout(timeout);
					if (checklist1.classList.contains("valid") && checklist2.classList.contains("valid") && checklist3.classList.contains("valid")) {
						timeout = setTimeout(() => {

							fetch( `/check_username_availability/?username=${encodeURIComponent(usernameInput.value)} `).then(response => response.json()).then(data => {
								if (data.available) {
									checklist4.classList.add("valid");
									checklist4.classList.remove("invalid");
									checklist4.innerText = "Username disponibile";
									continueBtn.disabled = false;
								} else {
									checklist4.classList.add("invalid");
									checklist4.classList.remove("valid");
									checklist4.innerText = "Username già in uso";
									continueBtn.disabled = true;
								}
							});

						}, 300); // delay per evitare troppe chiamate

					} else {
						checklist4.innerText = "";
						continueBtn.disabled = true;
					}
				});

			});
	</script>

	</body>

</html>
