.product-card {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 0.3s;
}

.product-card a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.product-card:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transform: scale(1.02);
}

.product-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}