.product-card-container {
	width: 400px;
	height: auto;
	background-color: #eee;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin: 0 auto;
	display: block;
	flex-shrink: 0;
}

.product-card-container img {
	width: 390px;
	height: 390px;
	margin-top: 4px;
	margin-left: 4px;
	object-fit: contain;
}

.product-card-container h3 {
	font-size: 2rem;
	margin: 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
  	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
}

.product-card-container p {
	font-size: 2rem;
	margin-left: 20px;
}

.product-card-container * {
	font-family: sans-serif;
}